@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Azeret Mono", monospace;

}

/* header section style */

header {
    max-width: 1440px;
    margin: 0 auto;

}



/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
    align-items: center;
}

nav h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

nav button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    padding: 15px 20px;
    border-radius: 8px;
    opacity: 0.8;

}

/* banner section */
.banner {
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    justify-content: center;
}

.banner-content {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.banner-content h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
}

.banner-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
}

.banner-content a {
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
    background: rgb(13, 19, 33);
    text-decoration: none;
    color: white;
    margin-top: 30px;
}



/* main section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* shared style */
.title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}

.content {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 30px;
}




/* section-1 */
.section-1 {
    margin-top: 70px;
    border-radius: 16px;
    padding: 60px;
    background: rgba(13, 19, 33, 0.02);
}

.section-1 .card {
    display: flex;
    padding: 30px;
    border-radius: 16px;
    justify-content: space-between;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom right, #f0f0f0, rgb(0, 0, 0, 0.3));
}

.section-1 #card-2 {
    display: flex;
    padding: 30px;
    gap: 50px;
    border-radius: 16px;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0.3), #f0f0f0);
}



.section-1 .card-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;

}

.section-1 .card-content {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

.section-1 .btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;

}



/* section-2 */
.section-2 {
    margin-top: 70px;
}

.video {
    width: 100%;
    border: 1px solid;
    padding: 20px;
    border-radius: 16px;
}

iframe {
    border-radius: 16px;

}



/* section-3 */
.section-3 {
    margin-top: 100px;
}

.section-3 .card-box {
    display: flex;
    gap: 24px;
}

.section-3 .card {
    padding: 30px;
    background-color: aqua;
    border-radius: 16px;

}

.section-3 .card h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}

.section-3 .card p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 24px;
}

.section-3 .card a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;

}

.section-3 #box-1 {
    background: rgba(255, 76, 30, 0.05);
}


.section-3 #box-2 {
    background: rgba(0, 76, 232, 0.05);
}


.section-3 #box-3 {
    background: rgba(255, 223, 0, 0.05);
}



/* section-4 */
.section-4 {
    margin-top: 100px;
}

.section-4 .card {
    display: flex;
    padding: 30px;
    border: 1px solid;
    border-radius: 16px;
    gap: 30px;
    margin-bottom: 24px;
}

.section-4 .card h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;


}

.section-4 .card p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 24px;
}

.section-4 .card a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;

}




/* section-5 */
.section-5 {
    margin-top: 40px;
    margin-bottom: 60px;
}

.section-5-bg {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    padding: 50px;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    border-radius: 16px;


}

.section-5 h3 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 26px;
}

.section-5 p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.section-5 form {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.section-5 form input {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

#input-wd {
    width: 500px;
}